.content-section {
  min-height: 100vh;
  padding-top: 60px;
}

.content-title {
  flex-wrap: wrap;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  padding: 0;
  text-transform: uppercase;
}

.content-subhead {
  flex-wrap: wrap;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

.content-wrapper {
  width: 100%;
}

.list-title {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
}

button.button-limit {
  max-width: 3rem;
}

span.aligned-mid {
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 992px) {
  .content-section {
    padding-left: $sidebar-base-width;
    padding-top: 0;
  }

  .content-title {
    font-size: 4rem;
  }

  .content-subhead {
    font-size: 1.5rem;
  }

  .content-wrapper {
    padding-left: 3rem;
  }
}
