#sideNav {
  .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    max-width: 75rem;
    text-transform: uppercase;
  }
}
@media (min-width: 992px) {
  #sideNav {
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    position: fixed;
    text-align: center;
    top: 0;
    width: $sidebar-base-width;

    .navbar-brand {
      display: flex;
      margin: auto auto 0;
      padding: 0.5rem;
    }
    .navbar-collapse {
      align-items: flex-start;
      display: flex;
      flex-grow: 0;
      margin-bottom: auto;
      width: 100%;

      .navbar-nav {
        flex-direction: column;
        width: 100%;

        .nav-item {
          display: block;

          .nav-link {
            display: block;
          }
        }
      }
    }
  }
}
